:root {
    --color-dark1: #17132A;
    --color-dark2: #3E1429;
    --color-light1: #FFBF47;
    --color-light2: #F24040;
    --color-light3: #fd5021;
    --color-light4: #F67979;
    
    --bg-color1: var(--color-dark1);
    --bg-color2: var(--color-dark1);
    --text-color: var(--color-light1);
    --text-link: var(--color-light2);
    --text-hover: var(--color-light3);
    --text-clicked: var(--color-light4);
    
    --font-title: 'Fredoka One', cursive;
    --font-head: 'Open Sans', sans-serif;;
    --font-para: 'Open Sans', sans-serif;;
}