@import './reset.css';
@import './_variables.css';

body {
    background: var(--bg-color1);
    height: 100vh;
}
h1, h2, h3, h4, h5 {
    font-family: var(--font-head);
    color: var(--text-color);
}
div, p, a {
    font-family: var(--font-para);
    color: var(--text-color);
}
a {
    font-family: var(--font-para);
    color: var(--text-link); 
}
a:hover {
    color: var(--text-hover); 
}
a:visited {
    color: var(--text-clicked); 
}
.button {
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 1.25em;
    color: var(--color-dark1);
    background: var(--color-btn1)
}
.button:hover {
    background: var(--color-btn2);
    cursor: pointer;
}
.button a:visited {
    color: #17132A
}
img {
    width: 100%;
}