@import './reset.css';
@import './_variables.css';

body {
    background: var(--bg-color1);
    height: 100vh;
}
h1, h2, h3, h4, h5 {
    font-family: var(--font-head);
    color: var(--text-color);
}
div, p, a {
    font-family: var(--font-para);
    color: var(--text-color);
}
a {
    font-family: var(--font-para);
    color: var(--text-link); 
}