$tablet-width: 768px;
$desktop-width: 1024px;
@mixin phone {
    @media (max-width: #{$tablet-width - 1px}) {
      @content;
    }
}
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
.container {
  margin: auto;
    @include phone {
        max-width: 92%;
      }
    @include tablet {
      max-width: 90%;
    }
    @include desktop {
        max-width: 1000px;
    }
}
.row {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
.column {
    width: 100%;
    display: flex;
    flex-direction: column;
}

//example of how to use it
// p {
//     font-size: 16px;
//     @include tablet {
//       font-size: 18px;
//     }
//     @include desktop {
//       font-size: 20px;
//     }
//   }